# Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# IDEs
.idea/
.vscode/

# NuGet / packages
packages/
*.nupkg
project.lock.json

# Logs / DB / test output
*.log
TestResults/
*.mdf
*.ldf

# Misc
*.cache
*.tmp
*.userprefs
